.foterButtonBar{
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow:rgba(0, 0, 0, 0.16) 0px -2px 2px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
    position: relative;
}
.ghost::after{
    content: '';
    background-color: rgba(174, 173, 194, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
