.accountsTable{
    width: 50vw;
    height: 200px;
}
.slds-button__icon:hover{
    fill: #ff0 !important;
}
.ectionEdit:hover>span>button:hover{
    opacity: 1 !important;
    filter: none;
}

.ectionEdit:hover>span>button{
    opacity: 0.6 !important;
    filter:contrast(0);
}

.ectionEdit>span>button{
    opacity: 0 !important;
}

/*.slds-truncate:after{
    content: "";
    position: absolute;
    display: block;
    width:20px;
    height:40px;
    background: #333;
    box-shadow: 0 0 10px -10px #333;
}*/